:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

apx-chart {
    display: block;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

::ng-deep {
    .apexcharts-canvas {
        width: 100% !important;
        height: 100% !important;
    }

    .apexcharts-svg {
        width: 100% !important;
        height: 100% !important;
    }
}
